<h2 mat-dialog-title>Подтвердите действие</h2>
<div mat-dialog-content>
  <p>{{ message }}</p>
</div>
<div mat-dialog-actions>
    <!-- <button class="button" mat-button (click)="onNoClick()">Отмена</button>
    <button class="button" mat-button color="primary" (click)="onYesClick()">Подтверждаю</button> -->


  <dx-button
  class="dx-button"
  stylingMode="contained"
  text="Отмена"
  type="default"
  [width]="120"
  (onClick)="onNoClick()" 
  >
  </dx-button>

  <dx-button
      stylingMode="contained"
      text="Подтверждаю"
      type="default"
      [width]="120"
      (onClick)="onYesClick()" 
      >
  </dx-button>

</div>

