
<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="dx-field">
        <h2> Enter your login</h2>
          <dx-text-box             
          formControlName="login"
         >
          </dx-text-box>
    </div>
    <div class="dx-field">
        <h2> Enter your password</h2>
          <dx-text-box             
          formControlName="password"
         >
          </dx-text-box>
    </div>
    <br>
    <button [disabled]="form.invalid">Login</button>
</form>
<br>
<div>
    <button (click)="goValues()">Enter in backend</button>
</div>
<br>
<div>
    <button (click)="goTabpanel()">Working with Tab Panel</button>
</div>
<br>
<div>
    <button (click)="logout()">Logout</button>
</div>

