.grid {
  height: 400px;
}
.wraper {
  margin: 50px;

  .buttons {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    button {
      background-color: #0b6cff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 24px;
      width: 165px;
      height: 40px;
      border-radius: 12px;
      border: none;
      color: white;
  
      &:hover {
        background-color: #0056d6;
      }
  
  }


  }
}

  